img{
	width: 400px;
	height: auto;
	
	float: left;
}

.blur{
	filter: blur(2px);
}

.bright{
	filter: brightness(150%);
}

.contrast{
	filter: contrast(200%);
}

.grayscale{
	filter: grayscale(200%);
}

.invert{
	filter: invert(150%);
}

.opacity{
	filter: opacity(200%);
}

.saturate{
	filter: saturate(5);
}

.sepia{
	filter: sepia(150%);
}

.drop-shadow{
	filter: drop-shadow(6px 5px 10px blue);
}